.App {
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.courseList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.appButton {
  width: 25%;
  background-color: blueviolet;
  color: white;
  font-size: 20px;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid blueviolet;
}